@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-mono;
}

section + section {
  @apply mt-24;
}

#critics section + section {
  @apply mt-16;
}

@utility scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.link__graphic {
  @apply absolute top-0 left-0 pointer-events-none fill-none stroke-black stroke-1;
}

.link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}

@media all and (min-width: 1024px) {
  .link:hover .link__graphic--stroke path {
    stroke-dashoffset: 0;
  }
}

.link__graphic--scribble {
  @apply top-full;
}

.link__graphic--scribble path {
  @apply transition-all duration-300;
}

.link:hover .link__graphic--scribble path {
  @apply lg:duration-500;
}

table tbody tr:last-child td, table tbody tr:last-child th {
  @apply border-b-0;
}

table.draw-heatmap {
  .rating-1 {
    @apply bg-rose-200;
  }

  .rating-2 {
    @apply bg-rose-100;
  }

  .rating-3 {
    @apply bg-rose-50;
  }

  .rating-4 {
    @apply bg-yellow-50;
  }

  .rating-5 {
    @apply bg-lime-50;
  }

  .rating-6 {
    @apply bg-emerald-50;
  }

  .rating-7 {
    @apply bg-green-100;
  }

  .rating-8 {
    @apply bg-emerald-100;
  }
}

.controversy-6 {
  @apply text-red-700;
}
.controversy-5 {
  @apply text-red-400;
}
.controversy-4 {
  @apply text-yellow-400;
}
.controversy-3 {
  @apply text-emerald-300;
}
.controversy-2 {
  @apply text-emerald-500;
}
.controversy-1 {
  @apply text-emerald-600;
}
